<template name="about">
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Hey, I'm Ian!</h4>
                    <p>Currently seeking a position in web development. Recently finished a 6 month contract with EyesoreInc as a business developer. Excited to find a team where I can leverage my skills as a web developer.</p>
                </div>
                <div class="col-lg-3">
                    <img src="/img/ian.jpg" alt="Ian Toon">
                </div>
                <div class="col-lg-3">
                    <img src="/img/iandoyle.jpg" alt="Ian Doyle">
                </div>
            </div>
        </div>
    </div>
    <div class="container pt">
        <div class="row mt">
            <div class="col-lg-12">
                <h4>Languages, Libraries, Frameworks & Platforms</h4>
                HTML
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

                CSS
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

                jQuery
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow=100 aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

                JavaScript
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow=90 aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        <span class="sr-only">90%</span>
                    </div>
                </div>

                PHP
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow=80 aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                        <span class="sr-only">80%</span>
                    </div>
                </div>

                AngularJS
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow=70 aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                        <span class="sr-only">70%</span>
                    </div>
                </div>

                nodeJS
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow=60 aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60%</span>
                    </div>
                </div>

                Ruby
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow=10 aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                        <span class="sr-only">10%</span>
                    </div>
                </div>

                Passion for learning
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow=100 aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <p>I have a good grasp of HTML5, CSS3 and JS. With jQuery I can traverse and manipulate the DOM. I now use CSS3 animations, so I use less jQuery. Almost 100% of projects I work on use WordPress, so I've become familiar with PHP. I am learning AngularJS. Next, I would like to conquer nodeJS. Once I have those down, I will venture into Ruby on Rails. I taught myself these languages, with the help of tutsplus, lynda, & codeschool.</p>
            </div>
        </div>
    </div>
    <div class="container pt">
        <div class="row mt">
            <div class="col-lg-12">
                <h4>Software</h4>
                PHPSTORM
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

                WordPress
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

                Git
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

                Chrome
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

                Photoshop
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

                After Effects
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

                Premiere Pro
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>

                Anime Studio Pro
                <div class="progress">
                    <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">100%</span>
                    </div>
                </div>



            </div>
            <div class="col-lg-12">
                <p>Recently, I discovered PhpStorm and productivity has gone through the roof! It is a paid app, but you can get a free copy of the Early Access Program. Of course, WordPress is both free and priceless at the same time. :) I am finally disciplined enough to use version control... Git it, got it, good. For graphics, I use Photoshop & Illustrator. For motion graphics and video editing, I use After Effects and Premiere Pro. For animation, I use Anime Studio Pro.</p>
            </div>
        </div>
    </div>
</template>