<template name="footer">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Ian Doyle</h4>
                    <p>
                        I've been surfing the web since 1994. In 2008, I checked out the source code and it wasn't as scary as I imagined. Now, I enjoy testing what is possible.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h4>Connect</h4>
                    <p>
                        <a href="#">Facebook</a><br/>
                        <a href="#">LinkedIn</a><br/>
                        <a href="/admin">Login</a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <h4>Contact</h4>
                    <p>get@iandoyle.pro</p>
                </div>
            </div>
        </div>
    </div>
</template>